<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<header class="header">

    <a href="#" class="logo">UVAC</a> 
    
    <nav class="navbar">
        <a href="/forum">Inicio</a>
        <a href="/exercicios">Exercícios</a>
        <a href="/perfil/usuario">Perfil</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
    </div>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>


<div class="container">
<div class="card">
  <div class="img">
    
  </div>
  <span class="heading">Daniel</span>
</div>
</div>