<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<header class="header">

    <a href="#" class="logo">UVAC</a> 
    
    <nav class="navbar">
        <a href="/forum">Inicio</a>
        <a href="/exercicios">Exercícios</a>
        <a href="/perfil">Perfil</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
    </div>

    <form action="" class="search-form">
        <input type="search" name="" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>
    </form>

</header>

<!-- header section ends -->

<!-- banner section starts  -->

<section class="banner" id="banner">

    <div class="content">
        <h3>A vida é como um jogo de futebol, cada lance pode definir sua trajetória.</h3>
        <p></p>
        <a href="#" class="btn">Meus Posts</a>
    </div>

</section>

<!-- banner section ends -->

<!-- posts section starts  -->

<section class="container" id="posts" ng-controller="Rest">

    <div class="posts-container">

        <div class="post">
            <img src="/assets/transferir.jpg" alt="" class="image">
            <div class="date">
                <i class="far fa-clock"></i>
                <span>25 de Setembro, 2022</span>
            </div>
            <h3 class="title">Rafael Medeiros</h3>
            <p class="text">Rafael Medeiros é um grande exemplo no mundo dos deficientes físicos. Ele é um atleta paralímpico de tênis, e conta que para disputar as Paraolimpíadas, ele treina de quatro a cinco vezes por semana, com duração de duas horas cada, e faz treinamento físico e fisioterapia duas vezes por semana. Com ele aprendemos que com muito foco e resistência, qualquer um pode chegar lá.</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>Administrador</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-comment"></i>
                    <span>(45)</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-share-square"></i>
                    <span>(29)</span>
                </a>
            </div>
        </div>

        <div class="post">
            <img src="/assets/fernando-foto.webp" alt="" class="image">
            <div class="date">
                <i class="far fa-clock"></i>
                <span>16 de Setembro, 2022</span>
            </div>
            <h3 class="title">Fernando Fernandes</h3>
            <p class="text">Fernando Fernandes é um outro grande exemplo a todos. O ex-bbb sofreu um acidente após dormir no volante, o que causou a perda dos movimentos de suas duas pernas. Após o acidente, Fernando decidiu retomar a sua vida e investiu na paracanoagem. Com muito esforço, ele conseguiu se tornar campeão mundial, assim sendo grande referência com sua história de superação.</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>Administrador</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-comment"></i>
                    <span>(45)</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-share-square"></i>
                    <span>(29)</span>
                </a>
            </div>
        </div>

        <div class="post">
            <img src="images/sorteio.png" alt="" class="image">
            <div class="date">
                <i class="far fa-clock"></i>
                <span>16 de Setembro, 2022</span>
            </div>
            <h3 class="title">Falta pouco!</h3>
            <p class="text">Diferentemente das outras edições, a Copa do Mundo de 2022, que acontece no Qatar, será realizada entre os meses de novembro e dezembro. Até a abertura, serão nove semanas e, claro, os torcedores de todo o mundo estão ansiosos para a bola rolar na competição. Ao todo, 32 equipes estão divididas em oito grupos com quatro times em cada um destes. O Brasil está no Grupo G, ao lado de Sérvia, Suíça e Camarões, e busca o hexacampeonato sobre as seleções mais fortes do torneio, como França, Inglaterra e a rival continental, Argentina.</p>
            <p class="text">Hoje, 16 de setembro, faltam 65 dias para a abertura da Copa do Mundo de 2022. Até lá, serão menos de nove semanas para o grande dia de estreia da competição, que acontece em 20 de novembro, um domingo. A partida de abertura será entre o Qatar, país-sede, e o Equador, um dos representantes da América do Sul, às 13h (de Brasília). Vale lembrar que o jogo de abertura foi antecipado pela Fifa: antes, a partida iria acontecer no dia 21.</p>
            <div class="links">
                <a href="#" class="user">
                    <i class="far fa-user"></i>
                    <span>Administrador</span>
                </a>
                <button id="ler-mais"> <a href="./pages/home.html"> Ler Mais</a></button>
                <a href="#" class="icon">
                    <i class="far fa-comment"></i>
                    <span>(45)</span>
                </a>
                <a href="#" class="icon">
                    <i class="far fa-share-square"></i>
                    <span>(29)</span>
                </a>
            </div>
        </div>

    </div>