 <link rel="stylesheet" href="/css/home.css">


<nav class="navbar">
    <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>
    <button type="text" class="navabar-burger" onclick="toggleMenuOpen()">
        <span class="material-icons">Menu</span>
    </button>
    <h1 class="navbar-title">UVAC</h1>
    <nav class="navbar-menu">
        <button type="button">Início</button>
        <button type="button">Blog</button>
        <button type="button">Perfil</button>
    </nav>
</nav>

<main class="container">
    <section class="main-right">

    </section>

    <section class="main-left">
        
    </section>
</main>



<script type="text/javascript">
    const toggleMenuOpen = (
    document.body.classList.toggle("open"));
</script>