<link rel="stylesheet" href="./css/style-register.css">   
   
    <div class="main-login">
        <div class="left-login">
            <h1>Bem-Vindo</h1>
            <img src="imagens/wheelchair.svg" class="left-login-image" alt="wheelchair">
        </div>
        <form action="registro.php" method="POST">
            <div class="right-login">
                <div class="card-login">
                    <h1>REGISTER</h1>
                    <div class="textfield">
                        <label for="usuario">Username</label>
                        <input type="text" name="user" placeholder="Username">
                    </div>
                    <div class="textfield">
                        <label for="senha">E-mail</label>
                        <input type="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="textfield">
                        <label for="senha">Password</label>
                        <input type="password" name="senha" placeholder="Password">
                    </div>
                    <button class="btn-login" href="login.php">REGISTER</button>
                </div>
            </div>
        </form>
    </div>