 <link rel="stylesheet" href="/css/registro.css">

<div class="main-login">
        <div class="left-login">
            <h1>Bem-Vindo</h1>
            <img src="assets/wheelchair.svg" class="left-login-image" alt="wheelchair">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>REGISTRE-SE</h1>
                <div class="textfield">
                    <label for="usuario">Nome</label>
                    <input type="text" name="Usuario" placeholder="Digite seu Nome">
                </div>
                <div class="textfield">
                    <label for="senha">E-mail</label>
                    <input type="email" name="e-mail" placeholder="Digite seu e-mail">
                </div>
                <div class="textfield">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" placeholder="Digite sua Senha">
                </div>
                <button  class="btn-login"><a href="/forum" class="link">ENTRAR</a></button>
            </div>
        </div>
    </div>