:root{
    --light-color:#777;
    --border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.container {
    width: 100vw;
    height: 100vh;
    background: #eaebed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.card {
    width: 500px;
    height: 250px;
    background: #07182E;
    border-radius: 5px;
    text-align: center;
    color: #f0f0f0;
    font-family: inherit;
    z-index: 1;
  }
  
  .img {
    display: flex;
    margin: 60px auto 10px auto;
    width: 75px;
    height: 75px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    z-index: 99;
    background-color: #152f50;
  }
  
  p {
    opacity: 0;
    transition: all 0.5s;
  }
  
  .heading {
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  
  svg {
    padding: 0 5px;
    cursor: pointer;
  }
  
  .card:hover .img {
    transform: scale(1.1);
    border: 1px solid #f0f0f0;
  }
  
  .card:hover h1,
  .card:hover p {
    opacity: 1;
  }

  header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding:1rem 7%;
}

.header .logo{
    color:#000000;
    font-size: 2.5rem;
    margin-right: auto;
}

.header .logo span{
    color: #0000FF;
}

.header .navbar a{
    color:var(--light-color);
    margin-right: 2rem;
    font-size: 1.7rem;
    text-transform: capitalize;
}

.header .navbar a:hover{
    color: #000000;
}

.header .icons i{
    height:4.5rem;
    line-height:4.5rem;
    width:4.5rem;
    text-align: center;
    color: #000000;
    background:#eee;
    border-radius: 50%;
    margin-left: .7rem;
    font-size: 1.7rem;
    cursor: pointer;
}

.header .icons i:hover{
    color:#fff;
    background: #000000;
}

.header .search-form{
    position: absolute;
    background:#fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    top:110%; right:7%;
    height:6rem;
    width:50rem;
    padding:1rem;
    display: none;
}

.header .search-form.active{
    display: flex;
}

.header .search-form #search-box{
    width:100%;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.7rem;
    color: #000000;
    height: 100%;
}

.header .search-form label{
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: .5rem;
    cursor: pointer;
    color: #000000;
}

.header .search-form label:hover{
    color: #000000;
}

#menu-bars{
    display: none;
}